@use './style-dependencies/Mixins' as *;
@use './style-dependencies/Variables' as v;

body {
    background: linear-gradient(45deg, #aaa, #ddd);
    height: 100vh;
    @include flex(column, center, flex-start);
}

.app-container {
    @include flex(column, center, space-between);
    height: max-content;
    width: max-content;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .2rem rgba($color: #000000, $alpha: .4);
    background-color: white;
    padding: 2rem;
}

.title {
    @include text-styles(2rem, 500);
}

.description {
    @include text-styles(1rem, 100);
}

.tile {
    transition: all 200ms ease;
    stroke: black;
    stroke-width: 1px;
    &:hover {
        // transform: translateY(-3px);
        stroke: white;
        // fill: white;
    }
}

.tile-text {
    @include text-styles(.5rem, 100);
    color: black;
    inline-size: 15ch;
}

.legend-item {
    @include flex(row, center, flex-start);
}

.tooltip {
    height: 6rem;
    width: 8rem;
    background-color: black;
    color: white;
    border-radius: .5rem;
    padding: 1rem;
    margin: 0;
    z-index: 2;
    opacity: .8;
    @include flex(column, center, space-around);
    @include text-styles(1rem, 100);
}

.legend-text {
    @include text-styles(1rem, 100);
}